#menuCapsulaOff {
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    background-size: 100% 100%;
    gap: 1px;
    border-radius: 8px;
    border: 0.5px solid #1e1e1e;
    box-shadow: 1px 2px rgb(30, 30, 30, 0.65);
}

#menuCapsulaOff:hover {
    animation: grow 100ms ease-in-out forwards;
}

.botonAfter {
    transform: translate(2px, 3px) scale(1.1);
    box-shadow: 0px 0px rgba(30, 30, 30, 0.65);
}

@keyframes grow {
    0% {}

    100% {
        transform: translate(2px, 3px) scale(1.1);
        box-shadow: 0px 0px rgba(30, 30, 30, 0.65);
    }
}

#capsulaOscuro {
    background-color: #1e1e1e;
    border-radius: 8px 8px 0px 0px;
    height: 14px;
    top: 3px;
    width: 15px;
}

#capsulaClaro {
    background-color: #f0f0f0;
    border: 1px solid;
    border-color: #1e1e1e;
    border-radius: 8px 8px 0px 0px;
    height: 14px;
    transform: rotate(-180deg);
    width: 15px;
}