#menuCapsulaOn {
    position: absolute;
    z-index: 1;
    right: 40px;
    top: 30px;
    background-color: #f0f0f0;
    border: 0.5px solid #1e1e1e;
    border-radius: 8px;
    box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.25), 1px -2px rgb(30, 30, 30, 0.65);
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}


#menuCapsulaOn:hover {
    transform: translate(2px, 3px) scale(1.3) rotate(90deg);
    box-shadow: 0px 0px rgba(30, 30, 30, 0.65);
}

#bloquePartiuculas {
    left: 7px;
    position: absolute;
    top: 1px;
}

#capsulaOscuro {
    height: 15px;
    width: 15px;
    background-color: #1e1e1e;
    border-radius: 8px 8px 0px 0px;
    position: absolute;
    left: 8px;
    top: 1px;
    transform: rotate(-10deg);
}

#capsulaClaro {
    height: 15px;
    width: 15px;
    background-color: #f0f0f0;
    border: 1px solid #1e1e1e;
    border-radius: 8px 8px 0px 0px;
    position: absolute;
    left: 8px;
    top: 19px;
    transform: rotate(-170deg);
}

.particula {
    background-color: #1e1e1e;
    border-radius: 0.51px;
    height: 1px;
    width: 1px;
    position: absolute;
    transform: rotate(90deg);
}

#n1 {
    left: 13px;
    top: 15px;
}

#n2 {
    left: 15px;
    top: 14px;
}

#n3 {
    left: 12px;
    top: 14px;
}

#n4 {
    left: 11px;
    top: 15px;
}

#n5 {
    left: 10px;
    top: 15px;
}

#n6 {
    left: 9px;
    top: 15px;
    ;
}

#n7 {
    left: 7px;
    top: 15px;
    ;
}

#n8 {
    left: 8px;
    top: 15px;
    ;
}

#n9 {
    left: 5px;
    top: 15px;
    ;
}

#n10 {
    left: 16px;
    top: 15px;
}

#n11 {
    left: 14px;
    top: 16px;
}

#n12 {
    left: 12px;
    top: 16px;
}

#n13 {
    left: 6px;
    top: 16px;
    ;
}

#n14 {
    left: 10px;
    top: 16px;
}

#n15 {
    left: 5px;
    top: 16px;
    ;
}

#n16 {
    left: 7px;
    top: 16px;
    ;
}

#n17 {
    left: 8px;
    top: 16px;
    ;
}

#n18 {
    left: 17px;
    top: 14px;
}

#n19 {
    left: 15px;
    top: 17px;
}

#n20 {
    left: 13px;
    top: 17px;
}

#n21 {
    left: 6px;
    top: 17px;
}

#n22 {
    left: 5px;
    top: 17px;
}

#n23 {
    left: 9px;
    top: 17px;
}

#n24 {
    left: 8px;
    top: 17px;
}

#n25 {
    left: 17px;
    top: 17px;
}

#n26 {
    left: 19px;
    top: 14px;
}

#n27 {
    left: 14px;
    top: 18px;
}

#n28 {
    left: 12px;
    top: 18px;
}

#n29 {
    left: 10px;
    top: 18px;
}

#n30 {
    left: 16px;
    top: 18px;
}

#n31 {
    left: 9px;
    top: 17px;
}

#n32 {
    left: 7px;
    top: 17px;
}

#n33 {
    left: 11px;
    top: 17px;
}

#n34 {
    left: 6px;
    top: 17px;
}

#n35 {
    left: 5px;
    top: 17px;
}

#n36 {
    left: 15px;
    top: 17px;
}

#n37 {
    left: 12px;
    top: 17px;
}

#n38 {
    left: 18px;
    top: 16px;
}

#n39 {
    left: 20px;
    top: 16px;
}

#n40 {
    left: 18px;
    top: 18px;
}